<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="vue-router.js"></script>
  <script type="text/javascript" src="vuex.js"></script>

  <script type="text/javascript">
    // components
    const Home = {
      template: `
      <div>
        <h1>Contacts</h1>
        <input type="text" v-model="alamat" placeholder="Filter by alamat">
        <table>
          <tr><th>Nama</th><th>Alamat</th></tr>
          <tr v-for="contact in contacts" v-key="contact.id">
            <td>{{contact.nama}}</td><td>{{contact.alamat}}</td>
          </tr>
        </table>
      </div>
      `,
      data: () => {
        return {
          alamat: ''
        }
      },
      computed: {
        contacts: function() {
          if (this.alamat === '')
            return this.$store.getters.allContacts
          else
            return this.$store.getters.contactsByAlamat(this.alamat)
        }
      }
    }

    // routes
    const routes = [{name: 'home', path: '/', component: Home}]
    const router = new VueRouter({ routes })

    // state
    const store = new Vuex.Store({
      state: {
        contacts: [{id: 0, nama: 'Budi', alamat: 'Jl. Thamrin'},
                   {id: 1, nama: 'Susi', alamat: 'Jl. Pandu'},
                   {id: 2, nama: 'Rudi', alamat: 'Jl. Thamrin'}],
        sequence: 3
      },
      getters: {
        allContacts: (state) => state.contacts,
        contactsByAlamat: (state) => (alamat) =>
            state.contacts.filter(x => x.alamat.includes(alamat))
      }
    })

    // vue application
    const app = new Vue({
      el: '#app',
      template: `
        <div>
          <h1>Home</h1>
          <div style="display: flex; flex-direction: row">
            <div style="flex: 1 1 30%">
              <ul>
                <li><router-link :to="{name: 'home'}">Home</router-link></li>
              </ul>
            </div>
            <div style="flex: 2 1 auto">
              <router-view></router-view>
            </div>
          </div>
        </div>
      `,
      router,
      store
    })
  </script>
</body>
</html>
